@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #1d1d1d;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.1);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  text-align: center;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.1);
  border-radius: 20px;
  background: #f7f6f7;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.outer-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: radial-gradient(circle, #f7f6f7 20%, yellow 50%, aquamarine 100%);
}

.inner-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.8rem 1rem;
  background-color: #f7f6f7;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 150px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold .inner-item{
  width: 90%;
  height: 80%;
  border-radius: 15px;
}

.hide {
  visibility: hidden;
}

.entered {
  border-top: 3px solid rgb(202, 202, 202);
}