body {
    background-color: #111;
}

main {
    margin: 50px 100px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 50px;

    
}

a {
    text-decoration: none;
}

div {
    height: 250px;
    width: 250px;
    margin: 0 auto;


    font-size: 38px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #d0d326;
    text-align: center;
    background: #1d1d1d;

    border: 1px solid #d0d326;
    border-radius: 25px;
}

div:hover {
    background: #4b4b4b;
}