@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;  
  background: #1d1d1d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.card {
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    position: relative;;
    cursor: pointer;
    color: tomato;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
}

.card h3 {
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.card.active {
    flex: 10;
}

.card.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}